{% extends 'base.html' %}

{% block body %}
<div class="form">
    <form method="POST">
        {% csrf_token %}
    <center>
        <table>
            <tr><td align="center">Выберите направление:</td>
				<td width="700px" align="center"><center>
					<select class="inp-select" name="division" required>
						{% for el in divisions %}
							<option>{{ el.division }}</option>
						{% endfor %}
					</select>
                </center></td>
            </tr>
            <tr><td align="center">Выберите уровень принятия:</td>
                <td width="700px" align="center"><center>
					<select class="inp-select" name="level" required>
						{% for el in levels %}
							<option>{{ el.level }}</option>
						{% endfor %}
					</select>
                </center></td>
            </tr>
        </table>
        <br><button type="submit">Показать документы</button>
    </center>
    </form>
    </div>
{% endblock body %}